.Cell {
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}

.CollaredDove {
    -fx-background-color: black;
}

.RockDove {
    -fx-background-color: pink;
}

.StockDove {
    -fx-background-color: yellow;
}

.Food {
    -fx-background-color: green;
}

.Ground {
    -fx-background-color: brown;
}

/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */