.Cell {
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
    -fx-alignment: center;
}

.CollaredDove {
    -fx-background-color: black;
    -fx-text-fill: white;

}

.RockDove {
    -fx-background-color: pink;
    -fx-text-fill: black;
}

.StockDove {
    -fx-background-color: yellow;
    -fx-text-fill: black;
}

.Food {
    -fx-background-color: green;
}

.Rock {
    -fx-background-color: grey;
}

.Ground {
    -fx-background-color: brown;
}

/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */